:root {
  --grid-col-gap: 6px; /*column gap*/
  --grid-row-gap: 6px; /*row gap*/
  --grid-max-width: 1200px; /*100% for no max-width*/
  --grid-margin: auto; /*0 for nothing, auto for center*/
}

.grid {
  width: 100%;
  max-width: var(--grid-max-width);
  margin: var(--grid-margin);
}

.grid [class*="col-"] {
  display: block;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: var(--grid-row-gap);
}

/* for mobile 600px and down */
@media only screen and (max-width: 600px) {
  .grid [class*="col-"] {
    grid-column: span 12;
  }

  .grid .row {
    display: grid;
    column-gap: var(--grid-col-gap);
    grid-template-columns: repeat(12, 1fr);
  }

  .grid .xs-hide {
    display: none;
  }

  .col-xs-1 {
    grid-column: span 1 !important;
  }
  .col-xs-2 {
    grid-column: span 2 !important;
  }
  .col-xs-3 {
    grid-column: span 3 !important;
  }
  .col-xs-4 {
    grid-column: span 4 !important;
  }
  .col-xs-5 {
    grid-column: span 5 !important;
  }
  .col-xs-6 {
    grid-column: span 6 !important;
  }
  .col-xs-7 {
    grid-column: span 7 !important;
  }
  .col-xs-8 {
    grid-column: span 8 !important;
  }
  .col-xs-9 {
    grid-column: span 9 !important;
  }
  .col-xs-10 {
    grid-column: span 10 !important;
  }
  .col-xs-11 {
    grid-column: span 11 !important;
  }
  .col-xs-12 {
    grid-column: span 12 !important;
  }
}

/* for medium from 600 to 768px */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .grid [class*="col-"] {
    grid-column: span 12;
  }

  .grid .row {
    display: grid;
    column-gap: var(--grid-col-gap);
    grid-template-columns: repeat(12, 1fr);
  }

  .grid .md-hide {
    display: none;
  }

  .col-md-1 {
    grid-column: span 1 !important;
  }
  .col-md-2 {
    grid-column: span 2 !important;
  }
  .col-md-3 {
    grid-column: span 3 !important;
  }
  .col-md-4 {
    grid-column: span 4 !important;
  }
  .col-md-5 {
    grid-column: span 5 !important;
  }
  .col-md-6 {
    grid-column: span 6 !important;
  }
  .col-md-7 {
    grid-column: span 7 !important;
  }
  .col-md-8 {
    grid-column: span 8 !important;
  }
  .col-md-9 {
    grid-column: span 9 !important;
  }
  .col-md-10 {
    grid-column: span 10 !important;
  }
  .col-md-11 {
    grid-column: span 11 !important;
  }
  .col-md-12 {
    grid-column: span 12 !important;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .grid [class*="col-"] {
    margin-bottom: 0;
  }

  .grid .row {
    display: grid;
    gap: var(--grid-col-gap);
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: var(--grid-row-gap);
  }

  .grid .row:last-child {
    margin-bottom: 0;
  }

  .grid .lg-hide {
    display: none;
  }

  .col-1 {
    grid-column: span 1;
  }
  .col-2 {
    grid-column: span 2;
  }
  .col-3 {
    grid-column: span 3;
  }
  .col-4 {
    grid-column: span 4;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-6 {
    grid-column: span 6;
  }
  .col-7 {
    grid-column: span 7;
  }
  .col-8 {
    grid-column: span 8;
  }
  .col-9 {
    grid-column: span 9;
  }
  .col-10 {
    grid-column: span 10;
  }
  .col-11 {
    grid-column: span 11;
  }
  .col-12 {
    grid-column: span 12;
  }
}
